PORT=3000

# Metered Live STUN/TURN API Configurations
METERED_API_KEY=
METERED_SUBDOMAIN=
METERED_API_URL=

# Static Fallback Credentials (if API request fails)
METERED_STATIC_USERNAME=
METERED_STATIC_CREDENTIAL=
